{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>О подразделении</h1>
        <p>Мы — технологическое крыло <strong>Wayne Enterprises</strong>.
            Наша миссия — обеспечивать Готэм-сити передовыми решениями для безопасности и правопорядка.</p>

        <h3>Наши операционные цели:</h3>
        <ul>
            <li>Интеграция систем наблюдения «Око Готэма».</li>
            <li>Разработка интуитивных интерфейсов для тактического оборудования.</li>
            <li>Написание безупречного кода, устойчивого к взломам Джокера.</li>
        </ul>
    </div>
{% endblock %}