<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мое приложение на Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <img src="{{ url_for('static', filename='img/logo_batman.png') }}" alt="Logo" class="logo">
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('about') }}">О нас</a>
            <a href="{{ url_for('contact') }}">Контакты</a>
        </nav>
    </header>
    <main>
        <img src="{{ url_for('static', filename='img/logo_batman2.png') }}" alt="Hero Left" class="corner-image left">
        <img src="{{ url_for('static', filename='img/logo_batman2.png') }}" alt="Hero Right" class="corner-image right">
        <!-- Блок для вывода flesh-сообщений (успех/ошибка) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Flask Project. Все права защищены.</p>
    </footer>
</body>
</html>